@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    
    height: 18vh;
    position: fixed;
    width: 100%;
    background-color: white;
}
#navegacao{  
    display: flex;
    width:100%;
    padding: 10px;
    justify-content:space-between;
}
#logo img{
    width: 45px;
}
nav{
    display: flex;
}
nav a{
    margin-right: 20px;
    margin-left: 10px;
}
#search{
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
}
#search input{
    width: 93%;
    height: 70%;
    border-radius: 20px;
    background-color:#F2F2F2 ;
    border: none;
}
#search input:hover{
    background-color:#c5c5c5d7;
}

.sessoes{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.novaera{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 18vh;
    margin-bottom: 100px;

}
.novaera img{
    max-width: 481px;
    width: 98%;
    margin-bottom: 20px;
}

.novalinks a{
    text-decoration: none;
    color: white;
    background-color: #0D0D0D;
    border-radius: 30px;
    padding: 14px;
}
.novalinks a:hover{
    background-color: #353535 ;
}
#tituloI{
    font-size: 23px;
}
.inglaterra p{
    padding: 10px;
    font-size: 14px;

}
.inglaterra{
    display: flex;
    flex-direction: column;
    padding:0px 16px ;
}
.inglaterra a{ 
    text-decoration: none;
    color: white;
    background-color: #0D0D0D;
    border-radius: 30px;
    padding: 14px;
    margin:20px 0px 40px 30px ;
    width: 130px;
}
.inglaterra a:hover{
    background-color: #353535 ;
}
.inglaterra img{
    max-width: 481px;
}
.presentear p{
    padding: 10px;
    font-size: 22px;
}
.presentear{
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    padding:0px 16px ;
}
.presentear img{
    max-width: 481px;
}
.diadospais{
    margin-bottom: 30px;
}
.diadospais img{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0px;
}
.diadospais a{
    text-decoration: none;
    color: white;
    background-color: #0D0D0D;
    border-radius: 30px;
    margin-left: 30px;
    padding: 14px;
    width: 130px;
}
.diadospais a:hover{
    background-color: #353535 ;
}
.infantil p{
    padding: 10px;
    font-size: 22px;
}
.infantil{
    display: flex;
    flex-direction: column;
    
    padding:0px 16px ;
    margin-bottom: 30px;
    margin-top: 30px;
}
.infantil img{
    max-width: 481px;
}
.voltaAsAulas img{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}
.voltaAsAulas a{
    text-decoration: none;
    color: white;
    background-color: #0D0D0D;
    border-radius: 30px;
    margin-left: 30px;
    padding: 14px;
    width: 130px;
}
.voltaAsAulas a:hover{
    background-color:#353535 ;
}
.selecao{
    display: flex;
    margin-top: 60px;
    padding: 10px;
    color: white; background-color:#0D0D0D;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center; 
    justify-content: center;
    flex-wrap: wrap;
}
.selecao img{
    border-radius: 50%;
    max-width:120px;
    margin: 10px;
}
.selecao img:hover{
    padding: 10px;
}
.colecao img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}
.colecao a{ 
    text-decoration: none;
    color: white;
    background-color: #0D0D0D;
    border-radius: 30px;
    margin-left: 30px;
    padding: 14px;
    width: 130px;
}
.colecao a:hover{
    background-color: #353535 ;
}
.mais{
    margin: 70px 0px;
    display: flex;
    justify-content: center;
}
.mais a{
    display: block;
    text-decoration: none;
    color: #0D0D0D;
    border-top:1px solid black ;
    border-bottom:1px solid rgba(0, 0, 0, 0.39) ;
    font-size: 15px;
    padding: 14px 25px; 
}
.linksmais{
    width: 88%;
}
footer{
    color: white;
    background-color: #0D0D0D;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centralF{
    height: 79vh;
    width: 87vw;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.link1{
    border-bottom: 1px solid rgba(255, 255, 255, 0.61);
    margin-top: 20px;
    margin-bottom: 20px;
}
.link1 a{
    display: block;
    margin-bottom: 16px;
}
.link2 {    
    border-bottom: 1px solid rgba(255, 255, 255, 0.61);
    margin-bottom: 10px;
}
.link2 a{
    border-top:1px solid white;
    border-bottom:1px solid white;
    padding: 20px 0px;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
}
.redesSociaisF p{
    padding-top: 10px;
    padding-bottom: 18px;
}
.redesSociaisF img{
    margin-right: 10px;
    margin-bottom: 22px;
    max-width: 207px;
}
.pagamento{
    border-bottom: 1px solid white;
}
.pagamento img{
    padding: 20px 0px;
}
.link3{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.link3 a{
    flex-wrap: nowrap;
    margin: 20px 14px ;
    font-size: 12px
}
#paragrafo{
   font-size: 12px; 
   text-align: center;
}
